<div class="alert alert-success position-absolute top-0 end-0 marginTop10" role="alert" [ngClass]="{'fade': !alertSuccess, 'show': alertSuccess}">
    Record add successful!
</div>

<form [formGroup]="recordForm" (ngSubmit)="save()" class="row g-3 marginTop10">
    <div class="input-group">
        <select class="form-select text-center" formControlName="departmentId">
            <option value=0 disabled>Select Department</option>
            <option *ngFor="let dep of departments" [value]="dep.id">
                {{dep.name}}
            </option>
        </select>
    </div>

    <div>
        <div class="form-check form-check-inline" *ngFor="let type of recordTypes">
            <input type="radio" class="form-check-input" name="recordType" [id]="type.name" formControlName="recordType" [value]=type.id>
            <label class="form-check-label" [for]="type.name">{{type.name}}</label>
        </div>
    </div>

    <div class="input-group" *ngIf="recordForm.get('recordType')?.value == recordTypeRecurring">
        <select class="form-select text-center" formControlName="recurringType">
            <option value="-1">Select Recurring type</option>
            <option *ngFor="let type of recurringTypes" [value]=type.id>
                {{type.name}}
            </option>
        </select>
    </div>

    <div class="input-group" *ngIf="recordForm.get('recordType')?.value == recordTypeRecurring">        
        <select class="form-select text-center" formControlName="initialMonth">
            <option value=-1>Select the month for Recurring expense init</option>
            <option *ngFor="let month of months" [value]=month.id>
                {{month.name}}
            </option>
        </select>
        <input type="number" class="form-control"   placeholder="Set number of installments" formControlName="replicaCount" *ngIf="recordForm.get('recurringType')?.value == 1"/>   
    </div> 
    


    <div class="input-group">
        <label class="input-group-text" for="description"><i class="bi bi-info-square"></i></label>
        <input type="text" class="form-control"   placeholder="Description" formControlName="descricao"/>     
    </div>
    <div class="form-text text-danger" *ngIf="recordForm.get('descricao')?.invalid && recordForm.get('descricao')?.touched">
       Mandatory Field, minimun 3 caracters
    </div> 

    <div class="input-group">
        <label class="input-group-text" for="amount"><i class="bi bi-currency-euro"></i></label>
        <input type="number" class="form-control" placeholder="Amount" formControlName="amount" maxlength="18" />
    </div>
    <div class="form-text text-danger" *ngIf="recordForm.get('amount')?.invalid && recordForm.get('amount')?.touched">
        Mandatory Field
    </div>

    <div class="input-group">
        <label class="input-group-text" for="date"><i class="bi bi-calendar2-date"></i></label>        
        <input type="text" class="form-control" mask="00/00/0000" placeholder="dd/MM/YYYY" formControlName="date" [dropSpecialCharacters]="false"/>
    </div>
    <div class="form-text text-danger" *ngIf="recordForm.get('date')?.invalid && recordForm.get('date')?.touched">
        Invalid Date format. Date format requirede: dd/MM/YYYY e.g: {{currentDate}}
    </div>

    <div class="gap-3">
        <button type="submit" [disabled]="recordForm.invalid" class="btn btn-outline-primary float-end">Save</button>  
        <button type="button" class="btn btn-outline-danger float-end mr10" (click)="clean()"><i class="bi bi-trash3"></i></button>              
    </div>
</form>