<div class="card mb-3 border border-0 position-absolute top-50 start-50 translate-middle w-66 p-3"
    style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4 border-end border-primary ">
            <img src="../../../assets/imgs/logo_nb.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-center">Login</h5>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <!-- <label for="username" class="form-label"></label> -->
                        <input type="text" class="form-control border-primary" placeholder="Username" id="username"
                            formControlName="username">
                    </div>

                    <div class="mb-3">
                        <!-- <label for="password" class="form-label">Password</label> -->
                        <input type="password" class="form-control border-primary" placeholder="Password" id="password"
                            formControlName="password">
                    </div>

                    <div class="gap-3">
                        <button type="submit" title="Login" [disabled]="loginForm.invalid"
                            class="btn btn-primary float-end">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>