/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.marginTop10 {
    margin-top: 10px !important;
}

.mr10{
    margin-right: 10px !important;
}

.padding10{
    padding: 10px;
}

a{
    margin-right: 8px;
}

.circle{
    border-radius: 50px;
}


.show{
    transition: all 1.0s ease-in-out !important;
}

.w-66{
    width: 66% !important;
}
